    {% extends 'base/base.html' %}

{% block contenido %}

    <h1>Bienvenidos al blog del Instituto Barranqueras</h1>
    <section>
        {% for elemento in articulos %}
        <div class="card" style="width: 18rem;">
            <img src="{{ elemento.imagen }}" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">{{ elemento.nombre }}</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            </div>
            <ul class="list-group list-group-flush">
              <li class="list-group-item">Autor: {{ elemento.autor }}</li>
            </ul>
            <div class="card-body">
              <a href="#" class="card-link">Leer más</a>
    
            </div>
          </div>
        {% endfor %}
    </section>

{% endblock %}