{% extends 'base/base.html' %}

{% block contenido %}


<div class="card" style="width: 100vw;">
<!-- 
    {% if p.image %}
    {% load static %}
    <img class="logo-equipo" src="{{p.image.url}}" class="card-img-top" width="50px" height="50px">
    {% else %}
    <img src="{% static 'img/avatar.jpg' %}" class="card-img-top" >
    {% endif %}
    <div class="container"> -->

        <div class="row">
    
          <!-- Post Content Column -->
          <div class="col-lg-8">
    
            <!-- Title -->
            <h1 class="mt-4">{{post.title}}</h1>
    
            <!-- Author -->
            <p class="lead">
              by
              <a href="#">{{post.author}}</a>
            </p>
    
            <hr>
    
            <!-- Date/Time -->
            <p>Creado el {{post.timestamp}}</p>
    
            <hr>
    
            <!-- Preview Image -->
            
 
    
            <hr>
            
    
            <!-- Post Content -->
            <p>{{post.content}}</p>

              
              {% if request.user.is_staff %}
              <button type="button" class="btn btn-success"><a href="{% url 'editar' post.id %}">Editar</a></button>

              <button type="button" class="btn btn-danger"><a href="{% url 'borrar' post.id %}">Borrar</a></button>
              {% endif %}
        
                
  <!-- COMENTARIOS -->
 <div>
    <h5 >Deja un comentario</h5>
    <div class="card-body">
      <form method="POST" id = "commentForm" action="{% url 'details' post.id %}">
        {% csrf_token %}
        <div class="p-2">

        {{comment_form.author}}
        </div>
        <div class="p-2">
        {{comment_form.content}}
        </div>
        
        {% if request.user.is_authenticated %}
        
        <button type="submit" class="btn btn-primary">Enviar</button>
        {% else %}
        <div class="alert alert-secondary" role="alert">
      
          <p class="">Necesitas estar logueado para comentar</p>
        </div>
        <button type="submit" class="btn btn-primary"><a href="{% url 'login' %}">Iniciar Sesion</a></button>
        {% endif %}
        
          
      </form>
    </div>
  </div> 

    
       
   
   
   
   </form>
    
       
   
   
   
    
 

  <!-- Single Comment -->
  
  <div class="media mb-4">
    <img class="d-flex mr-3 rounded-circle" src="" alt="">
    <div class="media-body" id = 'media-body'>
      <h5 class="mt-0" id = 'commenter'>{{comments.author}}</h5>
     <p id = 'comment'>{{comments.content}}</p>
    </div>
  </div>
    
  
  <!-- COMENTARIOS -->
  
  <!-- AJAX -->
  

  <!-- AJAX -->
{% endblock contenido %}

