{% extends 'base/base.html' %}



{% block contenido %}

<div class="container-fluid content-box margentop">
  <div class="row">
    <div class="col-md-8">
      <center>
      {% if filter.qs%}
      {% for f in filter.qs %}
        <div class="card m-3" style="width: 80%;">
          {% if f.image %}
          {% load static %}
            <img src="{{f.image.url}}" class="imagen" alt="..." >
          {% else %}
            <img src="{% static 'img/avatar.jpg' %}" class="imagen">
          {% endif %}

          <div class="card-body">
            <h5 class="card-title">{{f.title}}</a></h5>
            <p class="card-text">descripcion: {{f.description}}</p>
            <p class="card-text"><small class="text-muted">Creado por: {{f.author.username}}</small></p>
            <p class="card-text">fecha: {{f.timestamp}}</p>
            <button type="button" class="btn btn-dark" ><a href="{% url 'details' f.id %}"style="text-decoration: none; color: #fff">Seguir leyendo</a></button>
          </div>
        </div>
      {% endfor %}
      {% else %}
      <h4>No se ha encontrado ninguna noticia relacionada.</h4>
      {%endif%}
    </center>
    </div>
    <div class="col-md-4">
      
        <form action="" method="get" class="m-3 filter-box">

            <div class="categoria">
              <h4>Filtrar por categorias</h4>
            {{ filter.form.category}}
            </div>
            <div class="fecha">
              <h4>Filtrar por fecha</h4>
            {{ filter.form.timestamp}}
            </div>

          <button type="submit" class="btn btn-secondary text-light"><i class="bi bi-funnel" style="padding: 3px;"></i>Filtrar</button>
        </form>

    </div>
  </div>
  </div>

  {% endblock %}
  
  {% block footer %}

    {% include 'includes/footer.html' %}
  {% endblock footer %}
    