{% extends 'base/base.html' %}

{% block contenido %}
{% if messages %}
<ul class="messages">
    {% for message in messages %}
    <div class="alert alert-secondary" role="alert">
      
      <p {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</p>
    </div>
    {% endfor %}
</ul>
{% endif %}

BIENVENIDO {{user.first_name}}

<form action="" method="post"> {% csrf_token %}

  
 {% for p in post %}

 <div class="card" style="width: 18rem;">

  {% if p.image %}
  {% load static %}
  <img class="" src="{{p.image.url}}" class="card-img-top">
  {% else %}
  <img src="{% static 'img/avatar.jpg' %}" class="card-img-top" >
  {% endif %}



    <div class="card-body">
      <h5 class="card-title"><a href="{% url 'details' p.id %}">{{p.title}}</a></h5>
      <p class="card-text">{{p.description}}</p>
      <p class="card-text">Creado por {{p.author.username}}</p>
      <p class="card-text">Creado el {{p.timestamp}}</p>
    </div>
  </div>


 {% endfor %}
    
 
    



</form>
    


{% endblock %}