{% block contenido %}
    <div class="container">

        <!-- Form -->
        <form action="{% url 'borrar' post.id %}" method="POST">

            {% csrf_token %}


            <!-- Modal -->
            <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title" id="exampleModalLabel">Eliminar post</h5>
                      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                      ¿Estás seguro de que quieres eliminar <b>{{post.title|upper}}</b>? 
                    </div>
                    <div class="modal-footer">
                        <button class="btn btn-danger text-light">Confirmar</button>
                        <a class="text-white" href="{% url 'details' post.id %}" style="text-decoration: none;"><button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button></a>
                    </div>
                  </div>
                </div>
              </div>
        </form>

    </div>
{% endblock contenido %}