{% extends 'base/base.html' %}

{% block contenido %}

<!-- Jumbotron -->
<div class="container margentop">
    <div class="row">
        <h2>Forman parte del Equipo Directivo:</h2>
    </div>
    <p> o Rector: Gustavo Toranzo.</p>
    <p> o Secretario Académico: Raúl Peñaflor.</p>
    <p>o Director de Estudio Economía Social y Desarrollo Local: Enrique Zarabozo.</p>
    <p>o Directora de Estudios Gestión Ambiental: Maximiliano Fernández.</p>
    <p>o Representante Legal: Adriana Azcona.</p>
    <p> o Bedeles: Malvinas Linda Ojeda, González Susana de la Cruz.</p>
    
</div>
<!-- Jumbotron -->

{% endblock %}