


{% block contenido %}

{% csrf_token %}
 








   <form method="POST" class="post-form">
      {% csrf_token %}

      <div data-gb-custom-block data-tag="csrf_token" >
  
              {{form}}

          </form>

    <div class="form-group">
      {% if request.user.is_authenticated %}
      
      <button type="submit" class="btn mb-5 mt-4" style="background-color: #79AD40;">Enviar</button>
      {% else %}
      <div class="alert alert-danger" role="alert">
         
         <p class="">Necesitas estar logueado para comentar</p>
      </div>
      <button type="submit" class="btn mb-5" style="background-color: #79AD40;" ><a class="text-decoration-none text-light" href="{% url 'login' %}">Iniciar Sesion</a></button>
      {% endif %}
   </div>

    

    
       
   
   
   

    
{% endblock contenido %}