<footer class="bg-dark text-center text-white">

    <div class="container p-4">
  
  
      <section class="mb-4">
  
        <a class="btn btn-dark btn-floating m-1" style="background-color: #3b5998;" href="https://www.facebook.com/institutobarranqueras" role="button" target="_blank"><i class="fab fa-facebook-f"></i></a>
  
  
        <a class="btn btn-dark btn-floating m-1" style="background-color: #C5221F;" href="mailto:uep161info@educ.ar" role="button" target="_blank"><i class="fab fa-google"></i></a>
  
  
        <a class="btn btn-dark btn-floating m-1" style="background-color: #FD00CA;" href="https://www.instagram.com/institutobarranqueras/" role="button" target="_blank"><i class="fab fa-instagram"></i></a>
  
  
      </section>
  
  
  
  
  
      <section class="row mb-4 justify-content-between align-items-center ">
        <div class="col-6">
        <h2>Encontranos</h2>
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d14158.25903037072!2d-58.94320379999995!3d-27.4828064!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x944572ca0a69bebb%3A0xc01373947dc9a9f6!2sInstituto%20De%20Nivel%20Terciario%20%22Barranqueras%20Primero%22%20-%20UEP%20No%20161!5e0!3m2!1ses-419!2sar!4v1660594077050!5m2!1ses-419!2sar" width="450" height="300" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
        <div class="col-6">
          <h4>Dirección</h4>
          <p>Diagonal Eva Perón 425 - Barranqueras</p>
          <h4>Contacto</h4>
          <p>Teléfono: +54 362 425 0382</p>
          <p>Email: uep161info@educ.ar</p>
        </div>
      </section>
  
  
  
    </div>
  
  
  
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2)">
      <a class="text-white" href="https://github.com/federico42o/Proyecto-Final-Blog">GRUPO 6 - INFORMATORIO 2022</a>
    </div>
  
  
  </footer>